body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#canvas-mar {
  width: 100vw;
  height: 100vh;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.video-display {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.videoView {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
